.header {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  gap: 30px;
}

.link {
  font-size: 20px;
  font-weight: 500;
  display: block;
  padding: 10px 20px;
  background-color: grey;
  border-radius: 25px;
  display: flex;
  transition: background-color 250ms linear;
}

.link:hover {
  background-color: #fafafa;
}
